{% extends "base.html" %}

{% block register %}
<div class="register-container" id="register">
    <div class="top">
        <span>Have an account? <a href="{% url 'login' %}">Login</a></span>
        <header>Sign Up</header>
    </div>
    <form action="" method=POST>
        {% csrf_token %}
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Firstname" name="first_name">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Lastname" name="last_name">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Username" name="username">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input type="submit" class="submit" value="Register">
        </div>
    </form>
</div>
{% endblock register %}